<aside>
  <app-search></app-search>
  <div class="side-menu">
    <div class="side-menu-item">
      <a href="#">
        <mat-icon>language</mat-icon>
        <div class="text">Painel de Gestão</div>
      </a>
    </div>
    <div class="side-menu-item">
      <a href="#">
        <mat-icon>language</mat-icon>
        <div class="text">Painel de Gestão</div>
      </a>
    </div>
    <div class="side-menu-item">
      <a href="#">
        <mat-icon>language</mat-icon>
        <div class="text">Painel de Gestão</div>
      </a>
    </div>
    <div class="side-menu-item">
      <a href="#">
        <mat-icon>language</mat-icon>
        <div class="text">Painel de Gestão</div>
      </a>
    </div>
  </div>
</aside>