@import '~src/sass/colors.scss';

.side-menu {
  .side-menu-item {
    padding: 1em;
    border-bottom: 1px solid $light-blue;
    a {
      color: $white;
      text-decoration: none;
      display: block;
      .text {
        line-height: 24px;
        display: inline-block;
        padding: 5px 0;
      }
    }
  }
}